/* Main style */
body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.question,
.answer {
  width: 500px;
  padding: 5px;
  border: solid black 2px;
  border-radius: 5px;
}

.question {
  background-color: #000;
  color: white;
}
.answer {
  display: none;
}
/* Toggel */

.open {
  display: block;
}
.close {
  display: none;
}
